.projects-section {
  h1 {
    color: black;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 7vh;
    margin-left: 5%;
  }

  .projects-container {
    width: 75%;
    margin: 0 auto 6vh auto;

    .projects {
      display: flex;
      flex-direction: column;
      gap: 3vh;
    }
  }
}
